*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.title {
    font-weight: bold;
    font-size: 18px;
}
.title:hover {
    text-decoration: none;
}

.header {
    background-color: #4f8cff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

nav ul li {
    /* display: inline; */
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav-links:hover {
    text-decoration: none;
}

.todo-image {
    height: 2rem;
    width: 2rem;
    object-fit: cover;  
    overflow: hidden;
    border-radius: 50%;
}

.footer{
    background-color: rgb(220, 220, 220);
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.todo-container {
    width: 100vw;
    height: 85vh;
}